*.py[co]
.DS_Store

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Eclipse PyDev
.project
.pydevproject

# PyCharm
.idea

# Visual Studio
.vscode/

# Vagrant
.vagrant

# NPM
node_modules

# Flask
__pycache__/


./config.yaml

tests/env/

.env/
derby.log
.vizierdb/
vizier-data/
vizier-data*/
vizier/env
resources/config/dev-config.yaml
/vizier/ds
/vizier/fs
/vizier/vt
/run.sh
*.jar
*.crc
vizier_downloads/*

